@page "/"

<h1>Blazor Event Propagation PoC</h1>

This project shows a mechanic of stopping event propagation using a static store of UIMouseEventArgs that need to be stopped.

<EventControlledComponentContainer>
    <SomeEventControlledComponent Name="Component A">
        <SomeEventControlledComponent PreventBubbling=true Name="Component B">
            <SomeEventControlledComponent Name="Component C">

            </SomeEventControlledComponent>
        </SomeEventControlledComponent>
    </SomeEventControlledComponent>
</EventControlledComponentContainer>
