@inject IJSRuntime JsRuntime

<div onclick="@RootEventBubbleDestinationClick">
    @ChildContent
</div>

@functions{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public async void RootEventBubbleDestinationClick(UIMouseEventArgs args)
    {
        System.Diagnostics.Trace.WriteLine($"RootEventBubbleDestinationClick clicked.");

        EventManager.ClearPreventBubbling(args);
    }
}
