@inherits EventControlledComponent
@inject IJSRuntime JsRuntime

<div class="SomeComponent" onclick="@(async (args) => EventControlledClick(OnClick, args, PreventBubbling))">

    <h2>
        @Name
    </h2>

    <h3>
        PreventBubbling = @PreventBubbling.ToString()
    </h3>

    <hr />
        @ClickText
    <hr />

    @ChildContent

</div>

@functions{

    [Parameter]
    private string Name { get; set; }

    [Parameter]
    private bool PreventBubbling { get; set; } = false;

    [Parameter]
    private RenderFragment ChildContent { get; set; }

    public string ClickText { get; set; } = "";

    public async Task OnClick(UIMouseEventArgs args, bool shouldAction)
    {
        await JsRuntime.InvokeAsync<string>("console.log", $"{Name} clicked - ShouldAction - {shouldAction}");

        if(shouldAction)
        {
            ClickText = ClickText +" Clicked";
        }
    }
}
